<style>
    .mydownloads-page {
        padding: 80px 20px 20px 20px;
        height: 100%;
        width: 100%;
        font-size: 16px;
    }
</style>
<div class="mydownloads-page">
    <ion-header no-border>
        <ion-navbar color="yellow" hideBackButton="true">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Downloads</ion-title>
        </ion-navbar>
    </ion-header>
    <p class="message">On This Device</p>
    <p *ngIf="!files.length">No downloads available.</p>
    <ion-scroll scrollY="true" style="height:100%;">
        <div class="" *ngFor="let myfile of files; let i = index">
            <ion-card>
                <ion-card-content>
                    <div class="learning-card">
                        <div class="image"
                             style="background: url('assets/imgs/teacher_training.png');background-size: cover">
                        </div>
                        <div class="learning-data">
                            <h4>{{ myfile.name }}</h4>
                            <div>
                                <button ion-button color="primary" (click)='play(myfile.name,myfile.nativeURL)'>
                                    Play
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-scroll>
</div>
