<style>
    .pending-assessment-page {
        padding: 80px 20px 20px 20px;
        height: 100%;
        width: 100%;
        font-size: 16px;
    }

    .logo {
        width: 150px;
        height: 115px;
        margin-bottom: 110px;
    }

    .flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }



    .form .item-md {
        background: transparent;
        color: #ffffff;
        padding-left: 0;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #ffffff;
    }

    .form {
        padding: 0 20px;
    }

    .domain-form.list-md .item-block .item-inner {
        border-bottom: 2px solid red !important;
    }

    .domain-field {
        width: 150px !important;
        font-size: 16px;
        font-weight: 600;
    }

    .domain-block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .domain-block h4 {
        margin: 0;
        color: #ffffff;
    }
</style>
<div class="pending-assessment-page">
    <ion-header no-border>
        <ion-navbar color="yellow" hideBackButton="true">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Pending Approvals</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content padding>
        <div *ngIf="pending_approvals.length" >
            <div class="approve-all">
                <h6>Approve All</h6>
            <ion-icon name="checkmark" class="approve-all-icon" (click)='approveAll()' tappable></ion-icon>
            </div>
        </div>
        <div *ngIf="!pending_approvals.length">
            <p>No Pending Approvals.</p>
        </div>
        <div class="" *ngFor="let pending_approval of pending_approvals; let i = index">
            <ion-card>
                <ion-card-content>
                    <div class="training-card">
                        <div>
                            <h4>{{ pending_approval.user_name }}</h4>
                            <p class="email">{{pending_approval.user_email}}</p>
                        </div>
                        <div>
                            <h4 class="training">{{ pending_approval.training_name }}</h4>
                            <p class="time">{{pending_approval.time_text}}, {{pending_approval.date_text}}</p>
                        </div>
                        <div>
                            <ion-icon name="checkmark" (click)='approve(pending_approval.training_id,pending_approval.user_id,i)' tappable></ion-icon>
                            <ion-icon name="close" class="md-close" (click)='reject(pending_approval.training_id,pending_approval.user_id,i)' tappable></ion-icon>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-content>

</div>
