page-home {

}

//
//.profile-page .action-btns {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//}

.profile-page .update-btn {
  background: #ffffff;
  color: #f5a623 !important;
  width: 100%;
  margin: 30px 0 0 0;
  box-shadow: 0 0 0;
  border-top: 1px solid #dedfe4;
}

.profile-page .text-input {
  font-size: 1.6rem;
  font-weight: 400 !important;
}

.profile-page .scroll-content {
  margin-top: 0 !important;
}

.profile-page .section {
  padding: 0 25px !important;
}

.profile-page ion-item {
  padding: 0 10px !important;
}

.profile-page .name {
  color: #f5a623 !important;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500 !important;
}

.profile-page .useremail {
  margin-top: 0;
  text-align: center;
  color: #000000 !important;
  font-size: 1.4rem;
  font-weight: 400 !important;
}

.profile-page .profile-form {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #9b9b9b;
  margin-top: 30px;
}

.profile-page .profile-form ion-item{
  margin-bottom: 10px;
}

.select-ios {
  padding: 11px 8px 11px 0 !important;
  width: 100%;
  max-width: 100% !important;
}