<ion-menu [content]="content" *ngIf="global.is_logged_in == true">
    <ion-content>
        <ion-card text-center class="hide-card">
            <div class="menu-user-header">
                <img src="assets/imgs/avatar.png" class="custom-avatar"/>
                <div class="menu-user-detail">
                    <h2>{{global.user_name}}</h2>
                    <p>{{global.user_email}}</p>
                </div>
            </div>
        </ion-card>
        <ion-list class="menu-items">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>