// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.hide-card {
  -webkit-box-shadow: none !important;
  padding: 20px 0 10px 0;
  background: #f5a623;
  border-left: 0 !important;
  margin-bottom: 0 !important;
}

.hide-card p {
  font-size: 1.2rem;
}

.hide-card h4 {
  font-size: 1.6rem;
}

.menu-inner .scroll-content, .menu-inner .fixed-content {
  margin-top: 0 !important;
}

.custom-avatar {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.menu-items button {
  padding-left: 0 !important;
}

.menu-items button .item-inner {
  padding-left: 15px !important;
  font-size: 1.5rem !important;
}

.menu-items button .item-inner .label-md {
  margin: 10px 8px 10px 0 !important;
}

.full-width {
  width: 100% !important;
}

.bold {
  font-weight: 500 !important;
}

.yellow-font {
  color: #f5a623 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.button-md {
  height: 4.6rem;
}