page-home {

}


.learning-page ion-card {
  border-left: 0;
}

.learning-page ion-card-content {
  padding-bottom: 0 !important;
}

.learning-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.learning-card button {
  margin: 0;
  padding: 0 10px;
}

.learning-card .image {
  width: 100px;
  height: 100px !important;
}

.alert-head {
  padding: 0 !important;
}

.training-popup-card h5 {
  color: #000000;
}

.time {
  font-size: 12px;
  color: #bababa;
  margin: 0;
}

.alert-md .alert-message, .alert-md .alert-input-group {
  padding: 0 20px !important;
}

.alert-md .alert-button {
  width: 100%;
  background: #ffcd00;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.alert-md .alert-button .button-inner {
  display: flex;
  justify-content: center;
}

.learning-card .learning-data {
  padding: 0 0 0 20px !important;
  width: 70%;
}

.learning-page ion-card button {
  color: #f5a623;
  border-top: 1px solid #dedfe4;
  background: #ffffff;
  width: 50%;
  margin: 0;
  border-radius: 0 !important;
}

.learning-page ion-card button:first-child {
  border-right: 1px solid #dedfe4;
}

.learning-page ion-card button .button-inner {
  font-weight: 500;
}