page-home {

}

.completed-assessment-page ion-card {
  border-left: 4px solid #f5a623 !important;
  border-radius: 4px;
  width: 100% !important;
  margin: 0 0 20px 0 !important;
  border: 1px solid #dedede;
}

.completed-assessment-page h4 {
  color:#222 !important;
}

.completed-assessment-page .bold {
  color:#000000;
}

.completed-assessment-page .attempt-button {
  margin: 10px 0 0 0 !important;
  border-radius: 5px !important;
}

.completed-assessment-page .yellow-font{
 font-size: 1.6rem;
  color: #f5a623 !important;
}

.training-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-head {
  padding: 0 !important;
}

.training-popup-card h5 {
  color: #000000;
}

.time {
  font-size: 12px;
  color: #bababa;
  margin: 0;
}


.alert-md .alert-message, .alert-md .alert-input-group {
  padding: 0 20px !important;
}

.alert-md .alert-button {
  width: 100%;
  background: #ffcd00;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.alert-md .alert-button .button-inner {
  display: flex;
  justify-content: center;
}


.assessment-page ion-card {
  border-left: 0 !important;;
}